

{% extends "base.html" %}
{% load static i18n %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'ckeditor/ckeditor/contents.css' %}" rel="stylesheet">
</head>

{% block content %}

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'warning' %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<div class="pagetitle">
  <h1>
    {% if object %}
      Editar contenido
    {% else %}
      Crear contenido
    {% endif %}
  </h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <!-- <li class="breadcrumb-item">Anterior</li> -->
      <li class="breadcrumb-item active">
        {% if object %}
          Editar contenido
        {% else %}
          Crear contenido
        {% endif %}
      </li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <form method="post" class="my-4" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="button" onclick="history.back()"class="btn btn-secondary">
                <i class="bi bi-x-circle me-1"></i>
                Cancelar
              </button>
              <button name="action" value="save" class="btn btn-success">
                <i class="bi bi-save me-1"></i>
                Guardar
              </button>
              {% if content.id  %}
              <a type="button" target="_blank" class="btn btn-info" href="/content/{{ content.id }}">
                <i class="bi bi-eye me-1"></i>
                Visualizar
              </a>
              {% endif %}
          </form>

        </div>
      </div>

    </div>

  </div>
</section>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
CKEDITOR.replace('{{ form.content.name }}', {
        extraPlugins: 'uploadimage',
        filebrowserUploadUrl: '{% url "content_ckeditor_upload" %}',
        toolbar: 'full',
        height: 300,
        width: '100%'
      });
</script>
{% endblock content %}