{% extends 'base.html' %}

{% block content %}
<h2>Historial de {{ content.title }}</h2>
<a href="{% url 'content_view' content.id %}" class="btn btn-primary">Volver</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Razón de Cambio</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for record in history %}
        <tr>
            <td>{{ record.history_date }}</td>
            <td>{{ record.history_user }}</td>
            <td>{{ record.history_change_reason }}</td>
            <td>{{ record.get_history_type_display }}</td>
            
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay registros de historial para este contenido.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
