{% extends "base.html" %}
{% load static i18n %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'warning' %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<div class="pagetitle">
  <h1>Version de Contenido</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item"><a href="/content/{{ content.id }}">Contenido</a></li>
      <li class="breadcrumb-item active">Version de Contenido</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-4 text-start">
              {{ history.history_date|default:"" }}
            </div>
            <div class="col-4 text-center">
                Editado por:
              <a href="/profile/{{ history.history_user_id }}">{{ history.autor.name }}</a>
            </div>
            <div class="col-4 text-end">
              {{ history.category.name }}
            </div>
          </div>
        </div>
        <div class="card-body">
          <h1 class="text-center mt-4 fw-bold">{{ history.title }}</h1>
          <h4> {{history.summary}} </h4>
          <section>
            {{ history.content|safe }}
          </section>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-12 text-start">
              {% if history.history_change_reason != None and history.history_change_reason|length > 0 %}
                  Motivo de cambio: {{ history.history_change_reason }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>
  
  </div>
</section>
{% endblock content %}