{% extends "base.html" %}
{% load static i18n %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'warning' %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<div class="pagetitle">
  <h1>Contenido</h1>
  <nav class="d-flex justify-content-between align-items-center">
    <ol class="breadcrumb mb-0 mx-0 justify-content-center">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <!-- <li class="breadcrumb-item">Anterior</li> -->
      <li class="breadcrumb-item active">Contenido</li>
    </ol>
    <div>
      <button type="button" id="reportBtn" class="btn btn-outline-danger" data-content-id="{{ content.id }}">
        <i class="bi bi-exclamation-circle-fill"></i> Reportar contenido
      </button>
    </div>
  </nav>
</div><!-- End Page Title -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-4 text-start">
              {{ content.date_published|default:"" }}
            </div>
            <div class="col-4 text-center">
              <a href="/profile/{{ content.autor_id }}">{{ content.autor.name }}</a>
            </div>
            <div class="col-4 text-end">
              {{ content.category.name }}
            </div>
          </div>
        </div>
        <div class="card-body">
          <h1 class="text-center mt-4 fw-bold">{{ content.title }}</h1>
          <h4> {{content.summary}} </h4>
          <section>
            {{ content.content|safe }}
          </section>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-12 text-center">
              {% for tag in content.tags.all %}
              <span class="badge text-bg-secondary">{{ tag }}</span>
              {% endfor %}
            </div>
            <div class="col-12 text-center mt-4">
              {% if user_has_liked %}
                <button id="like-btn" class="btn btn-outline-primary" data-content-id="{{ content.id }}">
                  <i class="bi bi-hand-thumbs-up-fill"></i>
                  Me gusta
                  ({{ content.likes.count }})
                </button>
              {% else %}
                <button id="like-btn" class="btn btn-outline-secondary" data-content-id="{{ content.id }}">
                  <i class="bi bi-hand-thumbs-up"></i>
                  Me gusta
                  ({{ content.likes.count }})
                </button>
              {% endif %}

              {% if user_has_disliked %}
                <button id="dislike-btn" class="btn btn-outline-danger" data-content-id="{{ content.id }}">
                  <i class="bi bi-hand-thumbs-down-fill"></i>
                  No me gusta
                  ({{ content.dislikes.count }})
                </button>
              {% else %}
                <button id="dislike-btn" class="btn btn-outline-secondary" data-content-id="{{ content.id }}">
                  <i class="bi bi-hand-thumbs-down"></i>
                  No me gusta
                  ({{ content.dislikes.count }})
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Comentarios
        </div>
        <div class="card-body">
          <div id="disqus_thread"></div>
          <script>
              var disqus_config = function () {
                  this.page.url = '{{ request.build_absolute_uri }}';  // URL CANÓNICA
                  this.page.identifier = '{{ content.id }}';           // IDENTIFICADOR ÚNICO DE LA PÁGINA
              };

              (function() {  // Cargar Disqus
                  var d = document, s = d.createElement('script');
                  s.src = 'https://is2equipo10-me.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
        </div>
      </div>
    </div>

    <!-- Historial del contenido -->
    {% if perms.app.create_content and user.id == content.autor_id or perms.app.edit_content or perms.app.publish_content or perms.app.edit_is_active  %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Historial del contenido</div>
            <div class="card-body">
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Estado</th>
                            <th>Versiones</th>
                            {% if user.id == content.autor_id and content.state == 'draft' %}
                                <th>Recuperación</th> <!-- Mostrar solo si es autor y está en borrador -->
                            {% endif %}     
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in history  %}
                        <tr>
                             <td>{{ forloop.revcounter }}</td> <!-- Número de versión -->
                            <td>{{ record.history_date }}</td>
                            <td>{{ record.history_user }}</td>
                            <td>
                                {% if record.state == 'draft' %}
                                Borrador
                                {% elif record.state == 'revision' %}
                                Revision
                                {% elif record.state == 'publish' %}
                                Publicado
                                {% elif record.state == 'to_publish' %}
                                A publicar
                                {% elif record.state == 'inactive' %}
                                Inactivo
                                {% else %}
                                Desconocido
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="history/{{ record.history_id }}">Ver detalles</a>
                            </td>
                            {% if user.id == content.autor_id and content.state == 'draft' %}
                            <td>
                                <a class="btn btn-sm btn-primary" href="{% url 'edit_content' content.id %}?history_id={{ record.history_id }}">Recuperar esta versión</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="100%" class="text-center">No hay registros de historial para este contenido.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

  </div>
</section>




<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel">Reportar Contenido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="modalFormContainer">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" form="reportForm" class="btn btn-primary">Enviar reporte</button>
      </div>
    </div>
  </div>
</div>

<!-- Reportes -->
<script>
    $(document).ready(function() {
       
        $('#reportBtn').on('click', function(e) {
            e.preventDefault();
            var contentId = $(this).data('content-id');
           
            $.ajax({
                url: "/report/" + contentId + "/",
                type: "GET",
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                success: function(response) {
                    $('#modalFormContainer').html(response);  
                    var reportModal = new bootstrap.Modal(document.getElementById('reportModal')); 
                    reportModal.show();  
                },
                error: function(xhr, status, error) {
                    console.error("Error en la solicitud AJAX:", error);
                }
            });
        });

        
        $(document).on('submit', '#reportForm', function(e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: "POST",
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                data: form.serialize(),
                success: function(response) {
                    if (response.success) {
                        var reportModal = bootstrap.Modal.getInstance(document.getElementById('reportModal'));
                        reportModal.hide();  
                        location.reload();
                    } else {
                       
                        $('.form-error').remove();

                       
                        $.each(response.errors, function(field, errors) {
                            var fieldElement = $('[name="' + field + '"]');
                            if (fieldElement.length > 0) {
                                fieldElement.after('<div class="form-error text-danger">' + errors.join(', ') + '</div>');
                            }
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error en la solicitud AJAX:", error);
                }
            });
        });
    });
</script>


<!-- Reacciones -->
<script>
  $(document).ready(function() {
    // Evento para el botón de Me gusta
    let likeBtn = $('#like-btn')
    let dislikeBtn = $('#dislike-btn')

    let BTN_CONST = {
      like: {
        active: {
          class: 'btn btn-outline-primary',
          body: (count) => `<i class="bi bi-hand-thumbs-up-fill"></i> Me gusta ( ${count} )`
        },
        inactive: {
          class: 'btn btn-outline-secondary',
          body: (count) => `<i class="bi bi-hand-thumbs-up"></i> Me gusta ( ${count} )`
        },
      },
      dislike: {
        active: {
          class: 'btn btn-outline-danger',
          body: (count) => `<i class="bi bi-hand-thumbs-down-fill"></i> No me gusta ( ${count} )`
        },
        inactive: {
          class: 'btn btn-outline-secondary',
          body: (count) => `<i class="bi bi-hand-thumbs-down"></i> No me gusta ( ${count} )`
        },
      }
    }
      
    likeBtn.on('click', function() {
      var contentId = $(this).data('content-id');
      $.ajax({
        url: '/like/' + contentId + '/',
        type: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'  // Agrega el token CSRF para seguridad
        },
        success: function(response) {
          if (response.message === 'Me gusta agregado') {
            likeBtn.html(BTN_CONST.like.active.body(response.likes_count));
            likeBtn.attr('class', BTN_CONST.like.active.class)
            dislikeBtn.html(BTN_CONST.dislike.inactive.body(response.dislikes_count));
            dislikeBtn.attr('class', BTN_CONST.dislike.inactive.class) 
          } else {
            likeBtn.html(BTN_CONST.like.inactive.body(response.likes_count));
            likeBtn.attr('class', BTN_CONST.like.inactive.class)
          }
        },
        error: function(xhr, status, error) {
          console.error('Error en la solicitud AJAX:', error);
        }
      });
    });

    // Evento para el botón de No me gusta
    dislikeBtn.on('click', function() {
      var contentId = $(this).data('content-id');
      $.ajax({
        url: '/dislike/' + contentId + '/',
        type: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'  // Agrega el token CSRF para seguridad
        },
        success: function(response) {
          if (response.message === 'No me gusta agregado') {
            likeBtn.html(BTN_CONST.like.inactive.body(response.likes_count));
            likeBtn.attr('class', BTN_CONST.like.inactive.class)
            dislikeBtn.html(BTN_CONST.dislike.active.body(response.dislikes_count));
            dislikeBtn.attr('class', BTN_CONST.dislike.active.class)
          } else {
            dislikeBtn.html(BTN_CONST.dislike.inactive.body(response.dislikes_count));
            dislikeBtn.attr('class', BTN_CONST.dislike.inactive.class)
          }
        },
        error: function(xhr, status, error) {
          console.error('Error en la solicitud AJAX:', error);
        }
      });
    });
  });
</script>
    
    
{% endblock content %}