body {
    font-family: "Open Sans", sans-serif !important;
    background-color: #f6f9ff !important;
    color: #012970 !important;
}

.btn {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #f6f9ff !important;
}

.btn:hover {
    color: #fff !important;
    background-color: #0b5ed7 !important;
    border-color: #0a58ca !important;
}

.btn:focus {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5) !important;
}

.btn:active {
    color: #fff !important;
    background-color: #0a58ca !important;
    border-color: #0a53be !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn.disabled,
.btn:disabled {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}




a {
    color: #4154f1 !important;
    text-decoration: none !important;
}

a:hover {
    color: #717ff5 !important;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif !important;
}

.card-header {
    background-color: white !important;
}

.content-wrapper {
    background-color: #f6f9ff !important;
}

.dropdown-header {
    color: #012970 !important;
}

.dropdown-item {
    color: #012970 !important;
}

.dropdown-item:hover {
    background-color: #f6f9ff !important;
}

.nav-item {
    color: #012970 !important;
}

.nav-item:hover {
    background-color: #f6f9ff !important;
}

.nav-link.active {
    background-color: #f6f9ff !important;
}

.cancel {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.cancel:hover {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}

.secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.secondary:hover {
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
}

.btn-sm {
    margin-bottom: 15px !important;
}

.selector-chooser {
    margin-top: 0 !important;
    margin-left: 50% !important;

}


.selector-available {
    width: 100% !important;

}

.selector-chosen {
    width: 100% !important;

}

.info span {
    color: #4154f1 !important;
    font-size: 14px;
}

.info span:hover {
    color: #717ff5 !important;
}

.user-panel .image i {
    color: #4154f1 !important;
    font-size: 28px !important;  /* Cambia el tamaño del ícono (ajusta a tu necesidad) */
    line-height: 1 !important;  /* Asegura que no haya espacio extra vertical alrededor del ícono */
}

.brand-link {
    display: flex;  /* Utiliza flexbox para que los elementos internos se ajusten al contenedor */
    align-items: center;  /* Alinea verticalmente el contenido dentro del enlace */
}

.brand-text {
    flex: 1;  /* Permite que el texto ocupe todo el espacio disponible dentro del enlace */
    overflow: hidden;  /* Oculta el texto que sobrepasa el tamaño del contenedor */
    text-overflow: ellipsis;  /* Añade puntos suspensivos si el texto es demasiado largo */
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
}

/* Estilo para cambiar el tamaño de fuente del span con clase brand-text */
.brand-text {
    font-size: 13.3px !important;  
}

.info span {
    display: block;  /* Asegura que el span se comporte como un bloque */
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden;  /* Oculta el contenido que sobrepasa el tamaño del contenedor */
    text-overflow: ellipsis;  /* Añade puntos suspensivos si el texto es demasiado largo */
    max-width: 100%;  /* Asegura que el correo no sobresalga del contenedor */
    font-size: 13.3px;  
}


