{% extends "base.html" %}
{% load static i18n %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'warning' %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<div class="pagetitle">
  <h1>Estadísticas</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item active">Estadísticas</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Estadisticas de tus contenidos</h5>
          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <canvas id="likesChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                10 contenidos con más dislikes
                <div class="card-body">

                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                10 contenidos con más visualizaciones
                <div class="card-body">

                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <canvas id="ratingChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- Grafico de likes -->
<script>
  const likesChart = document.getElementById('likesChart');
  let likesChartCtx = null
  $.ajax({
    url: '/stadistics/likes/',
    type: 'GET',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    },
    success: function(response) {
      labels = response.result.map((item) => item.title);
      data = response.result.map((item) => item.likes_count);
      likesChartCtx = new Chart(likesChart, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Número de likes',
            data: data,
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Contenidos con más likes'
            }
          },
          scales: {
            x: {
              display: false,
            },
            y: {
              beginAtZero: true
            }
          }
        }
      });
    },
    error: function(xhr, status, error) {
      if (xhr.status === 403) {
        modal.warning({
          message: xhr.responseJSON.message,
        });
      }
      console.error('Error en la solicitud AJAX:', error);
    }
  });
</script>

<!-- Grafico de rating -->
<script>
  const ratingChart = document.getElementById('ratingChart');
  let ratingChartCtx = null
  $.ajax({
    url: '/stadistics/rating/',
    type: 'GET',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    },
    success: function(response) {
      console.log(response.result);
      labels = response.result.map((item) => item.title);
      data = response.result.map((item) => item.rating_avg);
      ratingChartCtx = new Chart(ratingChart, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Promedio de rating',
            data: data,
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Contenidos con mayor promedio de rating'
            }
          },
          scales: {
            x: {
              display: false,
            },
            y: {
              beginAtZero: true
            }
          }
        }
      });
    },
    error: function(xhr, status, error) {
      if (xhr.status === 403) {
        modal.warning({
          message: xhr.responseJSON.message,
        });
      }
      console.error('Error en la solicitud AJAX:', error);
    }
  });
</script>

{% endblock content %}