{% extends "base.html" %}
{% load static i18n %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == 'warning' %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<div class="pagetitle">
  <h1>Estadísticas</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item active">Estadísticas</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Estadisticas de tus contenidos</h5>
          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <canvas id="likesChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <canvas id="dislikesChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <canvas id="viewsChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <canvas id="ratingChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <canvas id="sharesChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- Grafico de likes -->
<script>
  const likesChart = document.getElementById('likesChart');
  let likesChartCtx = null
  const colors = [
    'rgba(0, 0, 255, 0.7)',    // Azul
    'rgba(51, 51, 255, 0.7)',  // Azul intermedio
    'rgba(102, 102, 255, 0.7)',// Azul claro
    'rgba(153, 102, 255, 0.7)',// Azul-violeta
    'rgba(204, 102, 255, 0.7)',// Violeta
    'rgba(255, 102, 255, 0.7)',// Violeta-rosa
    'rgba(255, 102, 204, 0.7)',// Rosa-violeta
    'rgba(255, 102, 153, 0.7)',// Rosa fuerte
    'rgba(255, 102, 102, 0.7)',// Rosa claro
    'rgba(255, 153, 204, 0.7)' // Lila
  ];
  $.ajax({
    url: '/stadistics/likes/',
    type: 'GET',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    },
    success: function(response) {
      labels = response.result.map((item) => item.title);
      data = response.result.map((item) => item.likes_count);
      likesChartCtx = new Chart(likesChart, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Número de likes',
            data: data,
            backgroundColor: colors,
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            title: {
              display: true,
              text: 'Contenidos con más likes'
            }
          },
          scales: {
            x: {
              display: false,
            },
            y: {
              beginAtZero: true
            }
          }
        }
      });
    },
    error: function(xhr, status, error) {
      if (xhr.status === 403) {
        modal.warning({
          message: xhr.responseJSON.message,
        });
      }
      console.error('Error en la solicitud AJAX:', error);
    }
  });
</script>

<!-- Grafico de dislikes -->
<script>
  const dislikesChart = document.getElementById('dislikesChart');
  let dislikesChartCtx = null
  $.ajax({
    url: '/stadistics/dislikes/',
    type: 'GET',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    },
    success: function(response) {
      labels = response.result.map((item) => item.title);
      data = response.result.map((item) => item.dislikes_count);
      dislikesChartCtx = new Chart(dislikesChart, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Número de dislikes',
            data: data,
            backgroundColor: colors,
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            title: {
              display: true,
              text: 'Contenidos con más dislikes'
            }
          },
          scales: {
            x: {
              display: false,
            },
            y: {
              beginAtZero: true
            }
          }
        }
      });
    },
    error: function(xhr, status, error) {
      if (xhr.status === 403) {
        modal.warning({
          message: xhr.responseJSON.message,
        });
      }
      console.error('Error en la solicitud AJAX:', error);
    }
  });
</script>

<!-- Grafico de rating -->
<script>
  const ratingChart = document.getElementById('ratingChart');
  let ratingChartCtx = null
  $.ajax({
    url: '/stadistics/rating/',
    type: 'GET',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    },
    success: function(response) {
      console.log(response.result);
      labels = response.result.map((item) => item.title);
      data = response.result.map((item) => item.rating_avg);
      ratingChartCtx = new Chart(ratingChart, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Promedio de rating',
            data: data,
            backgroundColor: colors,
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            title: {
              display: true,
              text: 'Contenidos con mayor promedio de rating'
            }
          },
          scales: {
            x: {
              display: false,
            },
            y: {
              beginAtZero: true
            }
          }
        }
      });
    },
    error: function(xhr, status, error) {
      if (xhr.status === 403) {
        modal.warning({
          message: xhr.responseJSON.message,
        });
      }
      console.error('Error en la solicitud AJAX:', error);
    }
  });
</script>

<!-- Grafico de views -->
<script>
  const viewsChart = document.getElementById('viewsChart');
  let viewsChartCtx = null
  $.ajax({
    url: '/stadistics/views/',
    type: 'GET',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    },
    success: function(response) {
      console.log(response.result);
      labels = response.result.map((item) => item.title);
      data = response.result.map((item) => item.views_count);
      viewsChartCtx = new Chart(viewsChart, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Promedio de visualizaciones',
            data: data,
            backgroundColor: colors,
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            title: {
              display: true,
              text: 'Contenidos con mayor promedio de visualizaciones'
            }
          },
          scales: {
            x: {
              display: false,
            },
            y: {
              beginAtZero: true
            }
          }
        }
      });
    },
    error: function(xhr, status, error) {
      if (xhr.status === 403) {
        modal.warning({
          message: xhr.responseJSON.message,
        });
      }
      console.error('Error en la solicitud AJAX:', error);
    }
  });
</script>

<!-- Grafico de shares -->
<script>
  const sharesChart = document.getElementById('sharesChart');
  let sharesChartCtx = null
  $.ajax({
    url: '/stadistics/shares/',
    type: 'GET',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    },
    success: function(response) {
      console.log(response.result);
      labels = response.result.map((item) => item.title);
      data = response.result.map((item) => item.shares_count);
      sharesChartCtx = new Chart(sharesChart, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Cantidad de compartidos',
            data: data,
            backgroundColor: colors,
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            title: {
              display: true,
              text: 'Contenidos con mayor cantidad de compartidos'
            }
          },
          scales: {
            x: {
              display: false,
            },
            y: {
              beginAtZero: true
            }
          }
        }
      });
    },
    error: function(xhr, status, error) {
      if (xhr.status === 403) {
        modal.warning({
          message: xhr.responseJSON.message,
        });
      }
      console.error('Error en la solicitud AJAX:', error);
    }
  });
</script>

{% endblock content %}