{% extends "admin/change_form.html" %}
{% block object-tools %}
    <div class="object-tools">
        {{ block.super }}
        <a href="{{ view_content_url }}" class="btn btn-success form-control secondary" style="margin-top: 10px; ">Ver detalles del contenido</a>
    </div>
{% endblock %}
{% block content  %}
    {{ block.super }}

    <div style="width: 100%;"><h4>Reportes relacionados</h4>

    {% if related_reports %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Motivo</th>
                    <th>Fecha de creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for report in related_reports %}
                <tr>
                    <td>{{ report.name }}</td>
                    <td>{{ report.email }}</td>
                    <td>{{ report.get_reason_display }}</td>
                    <td>{{ report.created_at }}</td>
                    <td>
                        <a href="{% url 'content:report-detail' report.id %}">
                            Ver reporte
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No hay reportes para este contenido.</p>
    {% endif %}
{% endblock %}
