{% extends 'admin/base_site.html' %}
{% load i18n admin_urls %}

{% block content_title %}
    {{ opts.verbose_name_plural }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
        <li class="breadcrumb-item">
            <a href="{% url opts|admin_urlname:'changelist' %}" class="active">{{ opts.verbose_name_plural|capfirst }}</a>
        </li>
        <li class="breadcrumb-item active">{{ object|default:content }}</li>
    </ol>
{% endblock %}

{% block content %}
<div class="container col-12">
    <h4 class="mt-4 mb-4">Detalles del Contenido</h4>
    <div class="card">
        <div class="card-body">
            <p><strong>Título:</strong> {{ content.title }}</p>
            <p><strong>Autor:</strong> {{ content.autor }}</p>
            <p><strong>Categoría:</strong> {{ content.category }}</p>
            <p><strong>Contenido:</strong></p>
            <div class="content-preview">
                {{ content.content|safe }}
            </div>
        </div>
        <div class="card-footer text-right">
            <a href="{% url 'admin:content_content_change' content.id %}" class="btn btn-primary">
                Volver al contenido
            </a>
        </div>
    </div>
</div>
{% endblock %}
