{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<div class="pagetitle">
  <h1>Aca el titulo de tu vista</h1>
  <!-- Esto por el momento no vamos a usar, veremos más adelante si integramos el breadcrumb -->
  <!-- <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item">Anterior</li>
      <li class="breadcrumb-item active">Actual</li>
    </ol>
  </nav> -->
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Este es el modelo, ca pone tu titulo</h5>
          <p>Y aca el contenido</p>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock content %}