{% extends "base.html" %}
{% load static i18n %}
{% block content %}


<div class="pagetitle">
    <h1>Finanzas</h1>
    <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active">Finanzas</li>
    </ol>
    </nav>
</div><!-- End Page Title -->
<form method="get" class="admin-filters">
    <div class="col-12 my-3">
        <div class="col-12 row">
            <div class="col">
                <select name="user" class="form-select" id="user">
                    <option value="">Todos los usuarios</option>
                    {% for u in users %}
                    <option value="{{ u.id }}" {% if u.id == usr %} selected {% endif %}>{{ u.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col">
                <select name="category" class="form-select" id="category">
                    <option value="">Todas las categorías</option>
                    {% for c in categories %}
                    <option value="{{ c.id }}" {% if c.id == cat %} selected {% endif %}>{{ c.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col">
                <input type="datetime-local" class="form-control" name="date_subscribed__range__gte" id="date_begin" placeholder="Fecha desde" 
                    {% if date_begin %} value="{{ date_begin }}" {% endif %}>
            </div>

            <div class="col">
                <input type="datetime-local" class="form-control" name="date_subscribed__range__lte" id="date_end" placeholder="Fecha hasta" 
                    {% if date_end %} value="{{ date_end }}" {% endif %}>
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
</form>

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Suscripciones</div>
        <div class="card-body">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Fecha Hora del Pago</th>
                        <th>Suscriptor</th>
                        <th>Categoría</th>
                        <th>Método de Pago</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices_data %}
                    <tr>
                        <td>{{ invoice.fecha_pago }}</td>
                        <td>{{ invoice.suscriptor }}</td>
                        <td>{{ invoice.categoria }}</td>
                        <td>{{ invoice.metodo_pago }}</td>
                        <td>{{ invoice.monto }} PYG</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9" class="text-center">No hay registros de suscripciones.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h5 class="text-end">Total General: {{ total_general }} PYG</h5>
        </div>
    </div>
</div>


{% endblock content %}